<div class="d-flex header-nav justify-between align-items-center wrap">
  <div class="d-flex align-items-center wrap">
    <a class="home nav" routerLink="/">SP</a>
    <a class="nav nav-item">
      <div class="d-flex align-items-center">
        <span>Snippets</span
        ><fa-icon class="arrow-down" [icon]="arrowDown"></fa-icon>
        <fa-icon class="arrow-up" [icon]="arrowUp"></fa-icon>
      </div>
      <div class="sub-section d-flex vertical justify-content-center">
        <div class="sub-item" routerLink="snippets/todolist">
          <fa-icon [icon]="projectsIcon"></fa-icon> Todo List
        </div>
        <div class="sub-item" routerLink="snippets/counter">
          <fa-icon [icon]="counter"></fa-icon>
          Counter
        </div>
      </div>
    </a>
  </div>
  <div class="d-flex align-items-center">
    <a class="nav nav-item" routerLink="profile" routerLinkActive="active">
      <div class="d-flex align-items-center">
        <fa-icon [icon]="userIcon"></fa-icon><span>Profile</span>
      </div>
    </a>
  </div>
</div>
