<div class="d-flex header-nav justify-content-center align-items-center wrap">
  <a
    class="nav"
    routerLink="profile/profession"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="work"></fa-icon
  ></a>
  <a
    class="nav"
    routerLink="profile/education"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="education"></fa-icon
  ></a>
  <a class="nav" routerLink="/"> <fa-icon [icon]="home"></fa-icon></a>
  <a class="nav nav-item">
    <div class="d-flex align-items-center">
      <fa-icon [icon]="snippets"></fa-icon>
      <fa-icon class="arrow-down" [icon]="arrowDown"></fa-icon>
      <fa-icon class="arrow-up" [icon]="arrowUp"></fa-icon>
    </div>
    <div class="sub-section d-flex vertical justify-content-center">
      <div class="sub-item" routerLink="snippets/todolist">
        <fa-icon [icon]="projectsIcon"></fa-icon> Todo List
      </div>
      <div class="sub-item" routerLink="snippets/counter">
        <fa-icon [icon]="counter"></fa-icon>
        Counter
      </div>
    </div>
  </a>
  <a
    class="nav"
    routerLink="profile"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="userIcon"></fa-icon
  ></a>
</div>
