<div class="content-wrapper vertical">
  <div class="section d-flex justify-around wrap">
    <div
      class="tag-line d-flex vertical justify-content-center align-items-center"
    >
      <div>
        Electronics Engineer by Qualification
        <fa-icon
          routerLink="education"
          class="navigate"
          [icon]="external"
        ></fa-icon>
      </div>
      <div>
        Software Developer by Profession
        <fa-icon routerLink="profession" class="navigate" [icon]="external">
        </fa-icon>
      </div>
      <div>
        Curious by default...
        <fa-icon class="navigate" [icon]="external"></fa-icon>
      </div>
    </div>
    <img
      alt="Profile Picture"
      class="profile-pic"
      src="assets/images/Picture.jpg"
    />
  </div>

  <!-- <flip-card>
    <img cardFront alt="Angular" src="assets/images/angular.png" />
    <div cardBack>
      Experience in Angular Version 4,5,7,9,11. Adequate Knowledge in Components
      Life Cycles, Dependecy Injection , Rxjs, Unit Testing - (Karma , Jasime),
      Code Quality - (Lint)
      <br />
      Additionaly have worked in mono repo concept using Nx workspace
    </div>
  </flip-card> -->
</div>
