<div class="footer-container d-flex justify-content-center align-items-center wrap">
    <div class="ext-icons">
        <a href="https://linkedin.com/in/suraj-p-a6776b181" target="_blank">
            <fa-icon class="icon-only" [icon]="linkedin"></fa-icon>
        </a>
    </div>
    <div class="ext-icons">
        <a href="https://github.com/surajPanayanchery" target="_blank">
            <fa-icon class="icon-only" [icon]="git"></fa-icon>
        </a>
    </div>
    <div class="d-flex vertical ml-auto justify-content-center contact">
        <div class="d-flex justify-content-center align-items-center wrap">
            <fa-icon [icon]="email"></fa-icon>
            <span class="text-value">suraj.panayanchery@gmail.com</span>
        </div>
        <div class="mobile">
            <fa-icon [icon]="phone"></fa-icon>
            <span class="text-value">+91 9080840503</span>
        </div>
        <div></div>
    </div>
</div>