@import "../../../../styles.scss";

fa-icon {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    color: $dark;
}

.footer-container {
    padding: 1rem;
    background-color: #36a562; //$light;
    .ext-icons {
        padding-top: 0.3rem;
        .icon-only {
            font-size: 1.7rem !important;
            padding: 0rem 0.5rem;
            &:hover {
                color: $darker;
            }
        }
    }
    .contact {
        .text-value {
            color: $darker;
        }
    }
}

@media (max-width: 400px) {
    .footer-container {
        justify-content: center !important;

        .contact {
            align-items: center;
        }
    }
}
