/* You can add global styles to this file, and also import other style files */

$white: white;
$black: black;
$lighter: rgb(245, 238, 218);
$light:#e8debb;
$warm: rgb(207, 185, 110);
$dark: rgb(177, 122, 51);
$darker: rgb(102, 61, 8);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: $lighter;
    z-index:1;
}

.d-flex {
    display: flex;
    &.justify-content-center {
        justify-content: center;
    }
    &.align-items-center {
        align-items: center;
    }
    &.vertical{
        flex-direction: column;;
    }
}
.ml-auto {
    margin-left: auto !important;
}
