/* You can add global styles to this file, and also import other style files */

$theme1: #e5fcc2;
$theme2: #9de0ad;
$theme3: #45ada8;
$theme4: #547980;
$theme5: #594f4f;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: $theme1;
}

.d-flex {
    display: flex;
    &.justify-content-center {
        justify-content: center;
    }
    &.align-items-center {
        align-items: center;
    }
}
.ml-auto {
    margin-left: auto;
}
